.idea
venv/bin/*
venv/lib/*
venv/lib64/*
venv/main/BETO_model/*
venv/main/w2vec_models/*
venv/main/w2vec_models_en/*
venv/main/BETO_pytorch/*
venv/main/BERT_multiling_distiluse/*
venv/main/BERT_ROBERTA_model/*
venv/main/FastText_models/*
venv/main/Spacy_models/*
venv/main/framenet_annotated/*
venv/main/grew_annotated/*
venv/main/out_fm/*
venv/main/out_html/*
venv/main/out_plot/*
venv/main/out_xml/*
venv/main/out_xml_for_coref/*
venv/main/out_xml_tmp/*
venv/main/downloads/*